@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lobster&display=swap");

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: #e0dbdb;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
body {
  font-size: 90%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  overflow: hidden;
}
ul,a {
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
.header {
  background: linear-gradient(35deg, #09beb8, #128ddf);
  padding: 0 15px;
}
.contain {
  background: #e0dbdb;
  width: 100%;
  height: 91%;
  overflow-y: scroll;
}

/* NAVBAR */

nav {
  position: relative;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 60px;
  background: linear-gradient(35deg, #09beb8, #128ddf);
  animation: change 10s ease-in-out infinite;
}

/* nav-logo */

nav .logo {
  position: absolute;
  margin-left: 12px;
  font-weight: 700;
  margin-left: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}
nav .logo img {
  width: 140px;
  height: 40px;
  margin-left: 10px;
}

/* nav-links */

nav .links {
  position: absolute;
  right: 5px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links li button{
  margin-left: 5px;
}
nav .links a {
  display: block;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
nav .links a:hover {
  color: #fff;
  transition: ease 0.5s;
}
nav .links .a:hover {
  color: #fff;
  background: #09beb8;
  transition: 0.25s;
}
.b {
  border: none;
  font-weight: 800;
  color: #fff;
  padding: 10px 20px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.6s;
  background-size: 200%;
}
.btn2 {
  background-image: linear-gradient(to left, #e73ce7, #128ddf, #09beb8);
}

.b:hover {
  background-position: right;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}

/* nav-hamburger */

.burger {
  display: none;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.line {
  width: 22px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  border-radius: 3px;
  transition: 0.5s ease;
}

/* search-icon */

.search-bar {
  position: absolute;
  right: 26em;
  padding: 13px 0 7px 0;
	/* justify-content: center; */
	/* max-width: 20em; */
	display: flex;
}
.search-bar input {
	background: transparent;
	border-radius: 24px;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.5s ease-in-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
} 
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
  width: 25em;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 100%;
}

/* Active state */

.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #008cff;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}
@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

/* ----START OF SLIDER CODE--- */

.adv-section {
  display: flex;
  width: 95%;
  margin: 15px auto 0 auto;
}
.advert_slider{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
}
#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  height: 100%;
  float: left;
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

/* ----END OF SLIDER CODE--- */

.populate-orders-container {
  background: #fff;
  height: max-content;
  margin: 20px 0;
  border-radius: var(--default-border-radius);
}
.cart-sidebar {
  background: rgba(255, 255, 255);
  width: 0;
  height: 400px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: width 1s cubic-bezier(0.04, 0.36, 0.87, 1.32);
}

/* ---SHOW CART CLASS... */

.showCart {
  width: 22.5%;
  margin-left: 15px;
}
/* --- END SHOW CART CLASS... */

.cart-sidebar::-webkit-scrollbar {
  width: 0.8rem;
}
.cart-sidebar::-webkit-scrollbar-track {
  background: #fff;
}
.cart-sidebar::-webkit-scrollbar-thumb {
  /* background-color: #e0dbdb; */
  /* border-radius: 100vw; */
}

#cart-title {
  padding: 10px 0 0 10px;
  /* background: #128DDF; */
  /* margin-bottom: 10px; */
}
.cart-sidebar .cart-items-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.cart-sidebar .cart-items-list .cart-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  /* background: #fff; */
  padding: 5px;
  position: relative;
}
.cart-item:not(:last-child):after {
  content: "";
  height: 2px;
  width: 25%;
  background: #128ddf;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
.cart-sidebar .cart-items-list .cart-item .cart-image {
  width: 150px;
  height: 60px;
}
.cart-sidebar .cart-items-list .cart-item .cart-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.description > .quantity-set {
  display: flex;
  column-gap: 3px;
  margin-top: 10px;
}
.description > .quantity-set button {
  display: block;
  padding: 0 5px;
  background-color: none;
}
.description > .quantity-set #quantity {
  width: 30px;
  text-align: center;
  border: none;
}
.summary {
  text-align: center;
  line-height: 50px;
  padding: 10px;
  /* margin-top: 10px; */
}
.summary .btn1 {
  padding: 10px;
  border-radius: 5px;
  background: #128ddf;
  font-weight: 600;
}
.btn {
  border: none;
  width: max-content;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.6s;
  background-size: 200%;
  font-weight: 600;
  color: #000000;
}
.btn:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  background-position: right;
}

main {
  position: relative;
  width: 95%;
  /* height: 100vh; */
  margin: 0 0 100px 33px;
}

main > section {
  margin: 15px 0;
}
.sidebar-blogs {
  border-radius: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  width: 234px;
  padding: 10px;
  height: 717px;
  right: 0;
  top: 0px;
  background: #fff;
}
.card_f {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  margin: 10px 0;
  line-height: 1.2rem;
}
.card_f .inf {
  color: #000;
  margin: 10 0 10 120;
}
.card_f h3 {
  color: #000;
  margin-bottom: 5px;
}
.card_f p {
  font-size: 15px;
  margin: 10px 0;
}
.card_f .inf .btn_B {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5em;
  background: #e0dbdb;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.card_f .inf .btn_B:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}
.populate-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 80.8%;
  gap: 15px;
  background: #fdfdfd;
  padding: 15px;
}
.populate-items .pop-item {
  position: relative;
  width: auto;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.04, 0.36, 0.87, 1.32);
}
.populate-items .pop-item h4{
  color: #fff;
  position: absolute;
  margin: -2.3em 1em;
  opacity: 1;
}
h4{
  display: block;
  font-size: 1.17em;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
}
.pop-item:hover {
  transform: translateY(-5px);
}
.populate-items .pop-item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.populate-items .pop-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,rgba(9, 190, 184, 0.3),rgba(18, 11, 22, 0.4));
  z-index: 1;
  display: none;
  transition: all 500ms ease;
}
.populate-items .pop-item:hover:after {
  display: block;
}
.populate-items .pop-item:hover .item-description {
  opacity: 1;
}
.pop-item .item-description {
  line-height: 1.2rem;
  position: absolute;
  color: #ffff;
  padding: 10px;
  top: 66%;
  /* left: -100%; */
  z-index: 2;
  width: 200px;
  transition: all 0.5s cubic-bezier(0.09, 0.03, 0.4, 0.9);
  transform: translateY(-50%);
  opacity: 0;
}
.add-to-cart-btn {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
#pop-section-title {
  padding: 15px 15px 0 15px;
  background: #fdfdfd;
  width: 80.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pop-section-title #view-more {
  padding: 10px;
  border-radius: 5px;
}

/* ------------CART PAGE/CHECK OUT-------------- */

.intro{
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(35deg, #09beb8, #128ddf);
  transition: 1s;
  display: none; /* REMEMBER TO REMOVE DISPLAY */
  transition: all 2s ease-in-out;
}
.intro.hide{
  transform: translateY(-100%);
}
#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 6.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 516px;
  stroke-dashoffset: 516px;
  animation: line-anim 2s ease forwards 2s;
}
#logo path:nth-child(2){
  stroke-dasharray: 426px;
  stroke-dashoffset: 426px;
  animation: line-anim 2s ease forwards 2.5s;
}
#logo path:nth-child(3){
  stroke-dasharray: 510px;
  stroke-dashoffset: 510px;
  animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(4){
  stroke-dasharray: 229px;
  stroke-dashoffset: 229px;
  animation: line-anim 2s ease forwards 3.5s;
}
#logo path:nth-child(5){
  stroke-dasharray: 502px;
  stroke-dashoffset: 502px;
  animation: line-anim 2s ease forwards 4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 340px;
  stroke-dashoffset: 340px;
  animation: line-anim 2s ease forwards 4.5s;
}
#logo path:nth-child(7){
  stroke-dasharray: 460px;
  stroke-dashoffset: 460px;  
  animation: line-anim 2s ease forwards 5s; 
}
#logo path:nth-child(8){
  stroke-dasharray: 32px;
  stroke-dashoffset: 32px;  
  animation: line-anim 2s ease forwards 2s infinite;
}
#logo path:nth-child(9){
  stroke-dasharray: 32px;
  stroke-dashoffset: 32px;  
  animation: line-anim 2s ease forwards 2s infinite;
}
#logo path:nth-child(10){
  stroke-dasharray: 32px;
  stroke-dashoffset: 32px;  
  animation: line-anim 2s ease forwards 2s infinite;
}
@keyframes line-anim{
  to{
      stroke-dashoffset: 0;
  } 
}
@keyframes fill{
   from{
       fill: transparent;
   }
   to{
       fill: #ffffff;
   } 
}

#logo .y{
  animation: cup 2s ease forwards;
}
@keyframes cup{
  from{
      transform: translateY(-100px);
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
#logo .x{
  animation: knife 1s ease-in forwards 6s ;
  visibility: hidden;
}
@keyframes knife{
 
  from{
      transform: translateX(50px);
      opacity: 0;
  }
  to{
      visibility: visible;
  }
}

/* ------------CART PAGE/CHECK OUT-------------- */

.single-prod{
  margin: 40px;
}
.row {
  display: flex;
}
.col-2 {
  flex: 50%;
  padding: 10px; 
}
.single-prod h3{
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
.single-prod select{
  display: block;
  padding: 10px;
  margin: 20px 0;
}
.single-prod .se{
  margin: 0 0 15px 0;
}
.single-prod input{
  width: 40px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #128ddf;
}
input:focus{
  outline: none;
}
.single-prod .se button{
  background: #128ddf;
  font-weight: bold;
  font-size: 14px;
}
.single-prod .fa{
  margin-left: 10px;
}
.single-prod .prog h2{
  margin-bottom: 10px;
}

.pop-section-title #view_more {
  padding: 10px;
  border-radius: 5px;
}

/* ------------CART PAGE/CHECK OUT-------------- */

.cart-page{
  margin: 80px 150px 136px 150px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px 10px;
  background: #fdfdfd;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #128ddf;
  font-size: 12px;
}
td img{
  width: 100px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #128ddf;
  width: 100%;
  max-width: 390px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.bT{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.b-bT{
  padding: 10px 40px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  background: #128ddf;
}
.b-bT:hover{
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

/* NAV ---- CART PAGE & VIEW MORE */

.home{
  position: absolute;
  display: flex;
  right: 18em;
  margin-top: 13px;
  padding: 0 5px;
}
.home a{
  color: #000;
  font-size: 27px;
  padding: 5px 18px;
}

/* ------------VIEW MORE-------------- */

.view-more{
  margin: 15px 36px 100px 36px;
}
.view-more section{
  margin-top: 15px;
}
.pop-section-title {
  padding: 15px 15px 0 15px;
  background: #fdfdfd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop-section-title #view-more {
  padding: 10px;
  border-radius: 5px;
}
.populate_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 100%;
  gap: 15px;
  background: #fdfdfd;
  padding: 15px;
}
.populate_items .pop-item {
  position: relative;
  width: auto;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.04, 0.36, 0.87, 1.32);
}
.populate_items .pop-item h4{
  color: #fff;
  position: absolute;
  margin: -2.3em 1em;
  opacity: 1;
}
.pop_item:hover {
  transform: translateY(-5px);
}
.populate_items .pop-item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.populate_items .pop-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,rgba(9, 190, 184, 0.3),rgba(18, 11, 22, 0.4));
  z-index: 1;
  opacity: 0;
  transition: all 500ms ease;
}
.populate_items .pop-item:hover:after {
  opacity: 1;
}
.populate_items .pop-item:hover .item-description {
  opacity: 1;
}

/* --------------FOOTER---------------- */

#footer {
  padding: 10px 10px;
  background-color: #ffffff;
  position: relative;
  clear: both;
  bottom: 0;
}
.media {
  text-align: center;
  color: #000000;
}
.media a {
  font-size: 30px;
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 5px 5px 0 5px;
  transition: 0.5s;
}
.media a:hover {
  transform: translateY(-10px);
}
#footer ul {
  margin: 4px 0 6px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
#footer ul li a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
}
#footer ul li a:hover {
  opacity: 1;
}
#footer ul li {
  display: inline-block;
  padding: 0 10px;
}
#footer p {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: inherit;
  opacity: 0.75;
  margin: 4px 0;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/image.png);
  background-size: 1600px 100px;
}
footer .wave#wave1 {
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 9;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_1 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 10;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_2 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 9;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_3 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1600px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_1 {
  0% {
    background-position-x: 1600px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_2 {
  0% {
    background-position-x: 1600px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_3 {
  0% {
    background-position-x: 1600px;
  }
  100% {
    background-position-x: 0px;
  }
}

/* ----FORM --- */

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 21;
}
.form.active {
  transform: translate(-50%, -50%) scale(1);
}
#overlay {
  position: fixed;
  z-index: 10;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.568);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.form-box {
  font-family: sans-serif;
  height: 480px;
  width: 380px;
  position: relative;
  background: #000000;
  padding: 5px;
  border-radius: 6px;
  overflow: hidden;
  /*display: none;*/
}
.form-box .close {
  margin-left: 323px;
  padding: 8px 20px;
  display: flex;
  cursor: pointer;
  color: #fff;
  background: none;
  font-size: 1.25rem;
  outline: none;
  border: none;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #09beb8;
  border-radius: 30px;
}
.toggle-btn {
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #09beb8, #128ddf);
  border-radius: 30px;
  transition: 0.5s;
}
.social-icons {
  margin: 30px auto;
  text-align: center;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: none;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 50%;
}
.social-icons a:nth-child(1) {
  background: #4267b3;
}
.social-icons a:nth-child(3) {
  background: #55acee;
}
.social-icons a:nth-child(2) {
  background: #ea4335;
}
.social-icons a i {
  padding: 12px 0;
}
.input-group {
  top: 190px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid;
  outline: none;
  background: transparent;
}
.submit-btn {
  color: #fff;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #09beb8, #128ddf);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 30px 0;
}
span {
  color: #fff;
  font-size: 12px;
  bottom: 64px;
  position: absolute;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}

/*about*/

section.text {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: justify;
  position: absolute;
  top: 70px;
}
.text p {
  padding: 0 20px;
}
.text h3 {
  text-align: center;
}

/*------------------- CHAT BOX ---------------*/



/*------------------- RESPONSIVE WEB ---------------*/

    /* NAVBAR */

@media only screen and (max-width: 900px){
  nav .logo {
    margin-left: 0;
  }
  .line{
    display: block;
  }
  .menu{
    display: none;
    transition: 2s ease-in-out;
  }
  .menu.active{
    display: block;
  }
  .menu .links {
    z-index: 5;
    position: fixed;
    top: 60px;
    right: 0;
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    background: #1111119d;
    height: 31vh;
  }
  .menu .links li {
    padding: 0.85em 0;
  }
  .menu .links li a{
    color: #09beb8;
  }
  .search-bar{
    right: 11.7em;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    width: 17em;
  }
  .burger{
    display: block;
  }
  .burger.active .line:nth-child(2){
    opacity: 0;
    transition: 0.5s ease;
  }
  .burger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s ease;
  }
  .burger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s ease;
  }

  /* slider */
  .advert_slider{
    height: 300px;
  }

  /* blog */
  .sidebar-blogs {
    display: none;
  }

  /* slider */
  .advert-section .advert_slider {
    max-height: 300px;
    height: 200px;
  }
  .cart-sidebar{
    display: none;
  }
  
  /* food */
  main {
    margin: 0 0 100px 15px;
  }
  #pop-section-title {
    width: 100%;
  }
  .populate-items {
    width: 100%;
  }

  /* cart-page */
  .cart-page{
    margin: 80px 60px 136px 60px;
  }
  .home{
    right: 50px;
  }

  /* product page */
  .single-prod .col-2{
    padding: 10px 0;
  }
  .row{
    display: block;
  }
}
@media only screen and (max-width: 600px){
  
  /* cart-page */
  .cart-page{
    margin: 80px 40px 136px 40px;
  }
  .cart-info p{
    display: none;
  }
  .total-price table{
    max-width: 400px;
  }

  /* slider */
  .advert_slider{
    height: 250px;
  }
  
}
